/*universal 

bigger screen to smaller screens*/

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  * {
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  * {
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  * {
  }
}

@media screen and (min-width: 0px) and (max-width: 375px) {
  * {
  }
  body {
    margin: 5px;
  }
  #logo {
    width: 39px;
    height: 37px;
    margin-top: 14px;
  }
  span {
    /* justify-content: space-around; */
    display: flex;
    max-width: 304px;
    margin-top: 25px;
    position: absolute;
  }
  nav > a {
    display: none;
  }

  .fa.fa-bars {
    /* text-align: right; */
    /* margin-right: 32px; */
    margin-left: 241px;
    margin-top: 29px;
  }

  .w3-center {
    display: none;
  }

  .dp-slider {
    position: absolute;
    font-size: 22px;
    margin-left: 110px;
    margin-top: 219px;
    font-weight: bold;
    max-width: 192px;
  }

  .sub-tag {
    font-size: 11px;
    max-width: 175px;
    color: white;
    position: relative;
    top: 294px;
    margin-left: 110px;
  }
  .myslides {
    position: absolute;
    display: block;
    height: 406px;
    width: 313px;
    top: 0px;
    padding: 5px;
  }
  .gi-1 {
    display: none;
  }
  .dp-slider2 {
    display: none;
  }
}
